*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0;
  font-family: "Lato", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fdfdfd;
}
h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #3498db;
  width: 100%;
}

.main-heading {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 15px;
}
.main-heading img {
  width: 25px;
  height: auto;
}
.main-heading h1 {
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.7px;
}
